.team {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
    @media (min-width: $break_lg) {
        margin-bottom: 130px;
    }

    &__heading {
        width: 100%;
        margin-bottom: 51px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        @media (min-width: $break_md) {
            margin-bottom: 72px;
        }
    }

    &__card {
        position: relative;
        max-width: 250px;
        border-radius: 18px;
        padding: 22px 17px 29px;
        margin-bottom: 30px;
        @media (min-width: $break_md) {
            max-width: none;
            padding: 30px 23px 40px;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(15px);
            background-color: rgba(74, 74, 84, 0.35);
            border-radius: 18px;
            border: 1px solid $turbid-blue;
        }

        //&_bg-image:after {
        //    content: "";
        //    display: block;
        //    bottom: -60px;
        //    left: -40px;
        //    width: 55px;
        //    height: 55px;
        //    background-image: url("../img/content/decorate/specular.webp");
        //    background-repeat: no-repeat;
        //}

        &_active {
            .team__content {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
                opacity: 0;
            }

            .team__overflow {
                transition: all .5s linear .3s;
                opacity: 1;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s ease;
    }

    &__card-wrp {
        z-index: 1;
        position: relative;
    }

    &__card-inner {
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        margin-bottom: 22px;
        border-radius: 18px;
        @media (min-width: $break_md) {
            margin-bottom: 40px;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__name {
        width: 100%;
        font-family: $raleway;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 7px;
        text-align: center;
        &_text-left {
            text-align: left;
        }
        @media (min-width: $break_md) {
            font-size: 22px;
            line-height: 24px;
        }
    }

    &__position {
        width: 100%;
        font-family: $syncopate;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        &_text-left {
            text-align: left;
        }
        @media (min-width: $break_md) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__text {
        font-family: $raleway;
        font-size: 13px;
        line-height: 20px;
        margin-top: 22px;
        @media (min-width: $break_md) {
            font-size: 18px;
            line-height: 27px;
        }
    }

    &__overflow {
        opacity: 0;
        transition: all .3s linear;
        margin-bottom: 3px;
        @media (min-width: $break_md) {
            margin-bottom: 20px;
        }
        @media (min-width: $break_lg) {
            margin-bottom: 0;
        }
        @media (min-width: $break_xl) {
            margin-bottom: 35px;
        }
    }

    &__sphere {
        position: absolute;

        &_first-card {
            top: -45px;
            right: -45px;
            width: 68px;
            height: 68px;
        }
        &_second-card {
            bottom: -29px;
            left: -19px;
            width: 55px;
            height: 55px;
        }
        &_third-card {
            top: 163px;
            right: -30px;
            width: 49px;
            height: 49px;
        }
        &_four-card {
            top: -38px;
            left: -50px;
            width: 86px;
            height: 86px;
        }
    }
}
