$sprite: '../img/sprites/sprite.svg#';

$white:         #fff;
$light-gray:    #F6F6F6;
$black:         #000;
$light-black:   #1A1C27;
$lighter-black: #333333;
$lightest-black:#4a4a54;
$blue:          #00C2FF;
$darker-blue:   #4FA0FF;
$dark-blue:     #2E97BF;
$turbid-blue:   #6B9CC0;

$default-font: "Raleway, Arial, sans-serif";

// font-families
$poppins: Popping, sans-serif;
$raleway: Raleway, sans-serif;
$syncopate: Syncopate, sans-serif;
