$sprite: '../img/sprites/sprite.svg#';

$white:         #fff;
$light-gray:    #F6F6F6;
$black:         #000;
$light-black:   #333333;
$blue:          #00C2FF;
$darker-blue:   #4FA0FF;
$dark-blue:     #2E97BF;
