.features {
    margin-bottom: 160px;

    @media (min-width: $break_md) {
        margin-bottom: 255px;
    }

    @media (min-width: $break_lg) {
        margin-bottom: 300px;
    }

    @media (min-width: $break_xl) {
        margin-bottom: 375px;
    }

    &__heading {
        text-align-last: center;
        font-family: $syncopate;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 51px;

        @media (min-width: $break_sm) {
            margin-bottom: 65px;
        }

        @media (min-width: $break_md) {
            margin-bottom: 130px;
        }

        @media (min-width: $break_lg) {
            font-size: 28px;
            line-height: 32px;
            br {
                display: none;
            }
        }

        @media (min-width: $break_xl) {
            font-size: 32px;
            line-height: 37px;
        }

        @media (min-width: $break_xxl) {
            font-size: 36px;
            line-height: 37px;
        }
    }

    &__center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 70px;
        height: 70px;
        background-image: url(../img/content/decorate/specular.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        @media (min-width: $break_xs) {
            width: 130px;
            height: 130px;
        }

        @media (min-width: $break_md) {
            width: 170px;
            height: 170px;
        }

        @media (min-width: $break_xl) {
            width: 240px;
            height: 240px;
        }

        @media (min-width: $break_xxl) {
            width: 300px;
            height: 300px;
        }

        picture {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &:after {
            content: "NFTime";
            font-family: $syncopate;
            font-weight: 700;
            font-size: 7px;
            @media (min-width: $break_xs) {
                font-size: 12px;
            }
            @media (min-width: $break_md) {
                font-size: 18px;
            }
            @media (min-width: $break_xl) {
                font-size: 26px;
            }
            @media (min-width: $break_xxl) {
                font-size: 36px;
            }
        }
    }

    &__center-wrp {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__image {
        &_left-top, &_left-center-top, &_left-center-bottom, &_left-bottom, &_right-top, &_right-center-top, &_right-center-bottom, &_right-bottom {
            position: absolute;
        }

        &_left-top {
            top: -15px;
            left: -22px;
            width: 45px;
            height: 18px;
            @media (min-width: $break_xs) {
                top: -6px;
                left: -14px;
                width: 45px;
                height: 18px;
            }
            @media (min-width: $break_sm) {
                top: -23px;
                left: -67px;
                width: 103px;
                height: 37px;
            }
            @media (min-width: $break_md) {
                left: -55px;
            }

            @media (min-width: $break_xl) {
                top: -45px;
                left: -145px;
                width: 206px;
                height: 75px;
            }
            @media (min-width: $break_xxl) {
                left: -125px;
            }
        }

        &_left-center-top {
            top: 15px;
            left: -32px;
            width: 36px;
            height: 6px;
            @media (min-width: $break_xs) {
                top: 38px;
                left: -30px;
                width: 36px;
                height: 6px;
            }
            @media (min-width: $break_sm) {
                top: 33px;
                left: -74px;
                width: 85px;
                height: 10px;
            }
            @media (min-width: $break_md) {
                top: 45px;
                left: -74px;
            }
            @media (min-width: $break_xl) {
                top: 65px;
                left: -150px;
                width: 170px;
                height: 20px;
            }
            @media (min-width: $break_xxl) {
                top: 75px;
                left: -145px;
            }
        }

        &_left-center-bottom {
            bottom: 15px;
            left: -32px;
            width: 36px;
            height: 6px;
            @media (min-width: $break_xs) {
                bottom: 38px;
                left: -30px;
                width: 36px;
                height: 6px;
            }
            @media (min-width: $break_sm) {
                bottom: 33px;
                left: -74px;
                width: 85px;
                height: 10px;
            }
            @media (min-width: $break_md) {
                bottom: 45px;
                left: -74px;
            }
            @media (min-width: $break_xl) {
                bottom: 65px;
                left: -150px;
                width: 170px;
                height: 20px;
            }
            @media (min-width: $break_xxl) {
                bottom: 75px;
                left: -145px;
            }
        }

        &_left-bottom {
            bottom: -15px;
            left: -22px;
            width: 45px;
            height: 18px;
            @media (min-width: $break_xs) {
                bottom: -6px;
                left: -14px;
                width: 45px;
                height: 18px;
            }
            @media (min-width: $break_sm) {
                bottom: -23px;
                left: -67px;
                width: 103px;
                height: 37px;
            }
            @media (min-width: $break_md) {
                left: -55px;
            }
            @media (min-width: $break_xl) {
                bottom: -45px;
                left: -145px;
                width: 206px;
                height: 75px;
            }
            @media (min-width: $break_xxl) {
                left: -125px;
            }
        }

        &_right-top {
            top: -15px;
            right: -22px;
            width: 45px;
            height: 18px;
            @media (min-width: $break_xs) {
                top: -6px;
                right: -14px;
                width: 45px;
                height: 18px;
            }
            @media (min-width: $break_sm) {
                top: -23px;
                right: -67px;
                width: 103px;
                height: 37px;
            }
            @media (min-width: $break_md) {
                right: -55px;
            }
            @media (min-width: $break_xl) {
                top: -45px;
                right: -145px;
                width: 206px;
                height: 75px;
            }
            @media (min-width: $break_xxl) {
                right: -125px;
            }
        }

        &_right-center-top {
            top: 15px;
            right: -32px;
            width: 36px;
            height: 6px;
            @media (min-width: $break_xs) {
                top: 38px;
                right: -30px;
                width: 36px;
                height: 6px;
            }
            @media (min-width: $break_sm) {
                top: 33px;
                right: -74px;
                width: 85px;
                height: 10px;
            }
            @media (min-width: $break_md) {
                top: 45px;
                right: -74px;
            }
            @media (min-width: $break_xl) {
                top: 65px;
                right: -150px;
                width: 170px;
                height: 20px;
            }
            @media (min-width: $break_xxl) {
                top: 75px;
                right: -145px;
            }
        }

        &_right-center-bottom {
            right: -32px;
            bottom: 15px;
            width: 36px;
            height: 6px;
            @media (min-width: $break_xs) {
                right: -30px;
                bottom: 38px;
                width: 36px;
                height: 6px;
            }
            @media (min-width: $break_sm) {
                right: -74px;
                bottom: 33px;
                width: 85px;
                height: 10px;
            }
            @media (min-width: $break_md) {
                right: -74px;
                bottom: 45px;
            }
            @media (min-width: $break_xl) {
                right: -150px;
                bottom: 65px;
                width: 170px;
                height: 20px;
            }
            @media (min-width: $break_xxl) {
                right: -145px;
                bottom: 75px;
            }
        }

        &_right-bottom {
            right: -22px;
            bottom: -15px;
            width: 45px;
            height: 18px;
            @media (min-width: $break_xs) {
                right: -14px;
                bottom: -6px;
                width: 45px;
                height: 18px;
            }
            @media (min-width: $break_sm) {
                right: -67px;
                bottom: -23px;
                width: 103px;
                height: 37px;
            }
            @media (min-width: $break_md) {
                right: -55px;
            }
            @media (min-width: $break_xl) {
                right: -145px;
                bottom: -45px;
                width: 206px;
                height: 75px;
            }
            @media (min-width: $break_xxl) {
                right: -125px;
            }
        }
    }

    &__wrp {
        width: 100%;
        height: 100%;
    }

    &__text {
        display: inline-block;
        position: absolute;
        font-family: $raleway;
        font-size: 10px;
        line-height: 11px;
        font-weight: 600;
        @media (min-width: $break_xs) {
            font-size: 14px;
            line-height: 15px;
        }
        @media (min-width: $break_md) {
            font-size: 20px;
            line-height: 21px;
        }
        @media (min-width: $break_xl) {
            font-size: 24px;
            line-height: 25px;
            max-width: 352px;
            br {
                display: none;
            }
        }
        @media (min-width: $break_xxl) {
            font-size: 28px;
            line-height: 33px;
            max-width: 374px;
        }

        &_left-top {
            top: -25px;
            left: -75px;
            text-align: right;
            @media (min-width: $break_xs) {
                top: -19px;
                left: -85px;
            }
            @media (min-width: $break_sm) {
                top: -36px;
                left: -142px;
            }
            @media (min-width: $break_md) {
                top: -42px;
                left: -158px;
            }
            @media (min-width: $break_xl) {
                top: -53px;
                left: -370px;
            }
            @media (min-width: $break_xxl) {
                top: -57px;
                left: -388px;
            }
        }

        &_left-center-top {
            top: 8px;
            left: -90px;
            text-align: right;
            @media (min-width: $break_xs) {
                top: 27px;
                left: -111px;
            }
            @media (min-width: $break_sm) {
                top: 22px;
                left: -153px;
            }
            @media (min-width: $break_md) {
                top: 28px;
                left: -192px;
            }
            @media (min-width: $break_xl) {
                top: 60px;
                left: -399px;
            }
            @media (min-width: $break_xxl) {
                top: 66px;
                left: -431px;
            }
        }

        &_left-center-bottom {
            bottom: 8px;
            left: -107px;
            text-align: right;
            @media (min-width: $break_xs) {
                bottom: 25px;
                left: -135px;
            }
            @media (min-width: $break_sm) {
                bottom: 22px;
                left: -178px;
            }
            @media (min-width: $break_md) {
                bottom: 30px;
                left: -222px;
            }
            @media (min-width: $break_xl) {
                bottom: 65px;
                left: -463px;
            }
            @media (min-width: $break_xxl) {
                bottom: 70px;
                left: -511px;
            }
        }

        &_left-bottom {
            bottom: -25px;
            left: -63px;
            text-align: right;
            @media (min-width: $break_xs) {
                bottom: -19px;
                left: -67px;
            }
            @media (min-width: $break_sm) {
                bottom: -34px;
                left: -124px;
            }
            @media (min-width: $break_md) {
                bottom: -42px;
                left: -132px;
            }
            @media (min-width: $break_xl) {
                bottom: -50px;
                left: -315px;
            }
            @media (min-width: $break_xxl) {
                bottom: -52px;
                left: -321px;
            }
        }

        &_right-top {
            top: -17px;
            right: -53px;
            @media (min-width: $break_xs) {
                top: -10px;
                right: -55px;
            }
            @media (min-width: $break_sm) {
                top: -27px;
                right: -107px;
            }
            @media (min-width: $break_md) {
                top: -30px;
                right: -113px;
            }
            @media (min-width: $break_xl) {
                top: -52px;
                right: -211px;
            }
            @media (min-width: $break_xxl) {
                top: -57px;
                right: -203px;
            }
        }

        &_right-center-top {
            top: 8px;
            right: -82px;
            @media (min-width: $break_xs) {
                top: 27px;
                right: -98px;
            }
            @media (min-width: $break_sm) {
                top: 24px;
                right: -140px;
            }
            @media (min-width: $break_md) {
                top: 29px;
                right: -166px;
            }
            @media (min-width: $break_xl) {
                top: 60px;
                right: -348px;
            }
            @media (min-width: $break_xxl) {
                top: 67px;
                right: -375px;
            }
        }

        &_right-center-bottom {
            right: -88px;
            bottom: 8px;
            @media (min-width: $break_xs) {
                right: -106px;
                bottom: 25px;
            }
            @media (min-width: $break_sm) {
                right: -148px;
                bottom: 25px;
            }
            @media (min-width: $break_md) {
                right: -176px;
                bottom: 28px;
            }
            @media (min-width: $break_xl) {
                right: -359px;
                bottom: 63px;
            }
            @media (min-width: $break_xxl) {
                right: -387px;
                bottom: 68px;
            }
        }

        &_right-bottom {
            right: -107px;
            bottom: -34px;
            @media (min-width: $break_xs) {
                right: -130px;
                bottom: -25px;
            }
            @media (min-width: $break_sm) {
                right: -185px;
                bottom: -41px;
            }
            @media (min-width: $break_md) {
                right: -218px;
                bottom: -51px;
            }
            @media (min-width: $break_xl) {
                right: -508px;
                bottom: -61px;
            }
            @media (min-width: $break_xxl) {
                right: -510px;
                bottom: -69px;
            }
        }
    }
}
