extends layouts/default
include helpers/mixins
include ../blocks/components/hamburger/hamburger
include ../blocks/modules/nav/nav
include ../blocks/modules/title/title
include ../blocks/modules/about/about

block variables
    - const title = "NFT Marketplace"
    -
        navigationItems = [["About", "About"],  ["How it works", "How it works"], ["Advantages", "Advantages"], ["Road Map", "Road Map"], ["Team", "Team"]]
        titleBlock = {
            heading: "NFTime.",
            subheading: "A space to discover NFTs,<br> follow and chat with friends",
            text: "Build on Ethereum",
        }
        aboutList = ["Creating and selling NFTs", "Earning", "Making friends", "Chatting", "Sharing your gallery", "Creating NFTs with your friends"]

block content
    include ../../node_modules/bemto.pug/bemto.pug
    +b.HEADER.header
        .container.w-100
            .row
                //+icon({
                //    name: "logo",
                //    class: "header__logo",
                //})
                +hamburger({
                    parentClass: "header_hamburger"
                })
                +nav({
                    navigationListItems: navigationItems,
                })
    +b.main
        +title(titleBlock)
        +about({
            list: aboutList,
        })
block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
