extends layouts/default
include helpers/mixins
include ../blocks/components/hamburger/hamburger
include ../blocks/modules/nav/nav
include ../blocks/modules/title/title
include ../blocks/modules/about/about
include ../blocks/modules/categories/categories
include ../blocks/modules/howto/howto
include ../blocks/modules/features/features
include ../blocks/modules/roadmap/roadmap
include ../blocks/modules/team/team
include ../blocks/modules/copyright/copyright
include ../blocks/modules/social/social

block variables
    - const title = "NFT Marketplace"
    -
        navigationItems = [["About", "About"],  ["HowTo", "HowTo"], ["Advantages", "Advantages"], ["Roadmap", "Roadmap"], ["Team", "Team"]]
        titleBlock = {
            heading: "NFTime.",
            subheading: "A space to discover NFTs,<br> follow and chat with friends",
            text: "Build on Ethereum",
        }
        aboutList = ["Creating and selling NFTs", "Earning", "Making friends", "Chatting", "Sharing your gallery", "Creating NFTs with your friends"]
        categoriesList = [
            "Art", "Music", "Sport", "Games", "Nature", "Charity"
        ]
        howto = [
            {
                subheading: "Create and sell your NFTs",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "sell-nft",
            },
            {
                subheading: "Set up your wallet",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "wallet",
            },
            {
                subheading: "Add your NFTs",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "operation"
            },
            {
                subheading: "List them for sale",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "profile"
            },
        ]
        roadmap = [
            ["MVP", ["NFT Marketplace", "NFT social media built on Ethereum", "Collection creating", "NFT wallet", "Likes and comments", "Friend requests", "Chat", "Feed", "NFT categories"], ["Level 1"]],
            ["Q1", ["Rating of NFT profiles", "Creating new NFT categories", "Users will be able to raise their levels", "Royalty – the author of the sailed NFT will get 2%<br> commission of every resale", "Users can donate to authors of the liked NFTs", "Charity"], "Level 2"],
            ["Q2", ["Adding possibility to improve NFTs by user’s<br> physical activity in the social media", "Adding a function for earning and staking", "Gaining the value of profiles by raising users’ levels",], "Level 3"],
            ["Q3", ["Improvement of the functionality of the platform", "Adding a possibility to buy NFTs from other nets<br> (Solana, Avalanche etc.)", "Personal analytics"], "Level 4"],
            ["Q4", ["The possibility to run targeting advertisement", "Advertising analytics"], "Advertising analytics"]]
        team = [
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "first-card"
            },
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "second-card",
            },
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "third-card"
            },
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "four-card",
            }
        ]
        copyrightList = ["© NFTime. All rights reserved.", "Terms & Conditions", "Privacy policy"]
        socialList = ["fb", "tt", "tg", "ist", "md"]

block content
    include ../../node_modules/bemto.pug/bemto.pug
    +b.HEADER.header
        .container.w-100
            .row
                //+icon({
                //    name: "logo",
                //    class: "header__logo",
                //})
                +e.A.logo(href="#") Logo
                +hamburger({
                    parentClass: "header_hamburger"
                })
                +nav({
                    navigationListItems: navigationItems,
                })
    +b.main
        +title(titleBlock)
        +about({
            list: aboutList,
        })
        +categories({
            list: categoriesList,
            heading: "The<br> categories",
        })
        +howto({
            list: howto,
        })
        +features({
            heading: "Additional<br> features",
        })
        +roadmap({
            heading: "roadmap",
            levels: roadmap,
        })
        +team({
            heading: "team",
            list: team,
        })
    +b.footer
        .container
            .row.md-items-center.justify-md-between
                +e.copyright.col-12.col-lg-7
                    +copyright({
                        list: copyrightList,
                    })
                +e.soc.col-12
                    +social({
                        list: socialList,
                    })
block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
