extends layouts/default
include helpers/mixins
include ../blocks/components/hamburger/hamburger
include ../blocks/modules/nav/nav
include ../blocks/modules/title/title
include ../blocks/modules/about/about
include ../blocks/modules/categories/categories
include ../blocks/modules/howto/howto
include ../blocks/modules/features/features
include ../blocks/modules/roadmap/roadmap
include ../blocks/modules/team/team
include ../blocks/modules/copyright/copyright
include ../blocks/modules/social/social

block variables
    - const title = "NFT Marketplace"
    -
        navigationItems = [["About", "About"],  ["HowTo", "HowTo"], ["Advantages", "Advantages"], ["Roadmap", "Roadmap"], ["Team", "Team"]]
        titleBlock = {
            heading: "NFTime.",
            subheading: "A space to discover NFTs,<br> follow and chat with friends",
            text: "Build on Ethereum",
        }
        aboutList = ["Creating and selling NFTs", "Earning", "Making friends", "Chatting", "Sharing your gallery", "Creating NFTs with your friends"]
        categoriesList = [
            "art", "music", "sport", "games", "nature", "charity"
        ]
        howto = [
            {
                subheading: "Create and sell your NFTs",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "sell-nft",
            },
            {
                subheading: "Set up your wallet",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "wallet",
            },
            {
                subheading: "Add your NFTs",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "operation"
            },
            {
                subheading: "List them for sale",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network to achieve consensus while rewarding users who participate.",
                img: "profile"
            },
        ]
        roadmap = [["Q3-Q4", ["10+ Chains", "100+ DeFi services", "1000+ Cryptocurrencies"], ["Level 1"]], ["Q1-Q2", ["Crosschain exchange", "Crypto ETF indexes", "DeFi mining", "Transaction analytics", "Algorithmic trade & rebalancing", "NFT platform", "Sending cryptocurrencies via chats"], "Level 2"], ["Q3-Q4", ["DeFi full functionality services", "Multisig corporate wallet", "Tokenized IPO analytics", "Derivatives", "Insurance", "Lending", "All crossed chains"], "Level 3"]]
        team = [
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "first-card"
            },
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "second-card",
            },
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "third-card"
            },
            {
                imgName: "plug",
                width: 294,
                height: 230,
                name: "Daniel Sam",
                position: "SEO",
                text: "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network",
                sphereType: "four-card",
            }
        ]
        copyrightList = ["© NFTime. All rights reserved.", "Terms & Conditions", "Privacy policy"]
        socialList = ["fb", "tt", "tg", "ist", "md"]

block content
    include ../../node_modules/bemto.pug/bemto.pug
    +b.HEADER.header
        .container.w-100
            .row
                //+icon({
                //    name: "logo",
                //    class: "header__logo",
                //})
                +e.A.logo(href="#") Logo
                +hamburger({
                    parentClass: "header_hamburger"
                })
                +nav({
                    navigationListItems: navigationItems,
                })
    +b.main
        +title(titleBlock)
        +about({
            list: aboutList,
        })
        +categories({
            list: categoriesList,
            heading: "The<br> categories",
        })
        +howto({
            list: howto,
        })
        +features({
            heading: "Additional<br> features",
        })
        +roadmap({
            heading: "roadmap",
            levels: roadmap,
        })
        +team({
            heading: "team",
            list: team,
        })
    +b.footer
        .container
            .row.md-items-center.justify-md-between
                +e.copyright.col-12.col-lg-7
                    +copyright({
                        list: copyrightList,
                    })
                +e.soc.col-12
                    +social({
                        list: socialList,
                    })
block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
